body {
  margin: 0;
  padding: 0;
  border: 0;
}

#task-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 100vh;
}

#sidebar {
  background-color: red;
  width: 20rem;
  display: flex;
  flex-direction: column;
}

#tasklist {
  background-color: blue;
  flex-grow: 2;
}

#progress-container {
  background-color: orange;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 3rem;
}

#reward-tracker {
  width: 100px;
  height: 100px;
  background-color: green;
}

#progress-bar {
   width: 200px;
   height: 20px;
   background-color: green;
}

#side-options {
  flex-grow: 2;
  list-style-type: none;
  text-align: center;
  padding: 0;
}

#side-options li {
  padding: 1rem;
}