body {
  margin: 0;
  padding: 0;
  border: 0;
}

#task-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 100vh;
}

#task-modal-container {
  background-color: white;
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  padding: 1rem;
}

#task-modal-input {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#task-modal-input textarea {
  height: auto;
}

#task-modal-close {
  text-align: right;
  margin: 0;
}

#task-modal-btns {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#sidebar {
  background-color: red;
  display: flex;
  flex-direction: column;
}

#tasklist {
  background-color: blue;
  flex-grow: 2;
}

#progress-container {
  background-color: orange;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 3rem;
}

#reward-tracker {
  width: 100px;
  height: 100px;
  background-color: green;
}

#progress-bar {
   width: 200px;
   height: 20px;
   background-color: green;
}

#side-options {
  flex-grow: 2;
  list-style-type: none;
  text-align: center;
  padding: 0;
}

#side-options li {
  padding: 1rem;
}